platforms/atg/config/application/applications.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--W3C Schema generated by XMLSpy v2010 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="ST_source">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_destination">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Slot_restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PS"/>
			<xs:enumeration value="LMPrimary"/>
			<xs:enumeration value="LMSecondary"/>
			<xs:enumeration value="CtrlPrimary"/>
			<xs:enumeration value="CtrlSecondary"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:element name="slotItem">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_slotItem">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="file"/>
								<xs:enumeration value="folder"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="serverItem">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_slotItem">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="file"/>
								<xs:enumeration value="folder"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>	
	<xs:element name="AtgDataItem">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_AtgDataItem">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="file"/>
								<xs:enumeration value="folder"/>
              				</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="slotType" use="required">
						<xs:simpleType>
							<xs:restriction base="Slot_restriction">
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="source">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_source">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="file"/>
								<xs:enumeration value="folder"/>
								<xs:enumeration value="explodedEar"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="slot">
		<xs:complexType>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="Slot_restriction"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="order" use="required">
				<xs:simpleType>
					<xs:restriction base="ST_number"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="otherSlots">
		<xs:complexType>
			<xs:attribute name="order" use="required">
				<xs:simpleType>
					<xs:restriction base="ST_number"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="slotTypeStartupOrder">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="slot" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="default" use="required">
				<xs:simpleType>
					<xs:restriction base="ST_number">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="restartStrategy">
		<xs:complexType>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="OneAtATimeRestartStrategy"/>
						<xs:enumeration value="ServerRoundRobinRestartStrategy"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="startStop">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="restartStrategy" maxOccurs="1" minOccurs="0"/>
				<xs:element ref="slotTypeStartupOrder" maxOccurs="1" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="deleteFromAtgData">
		<xs:complexType>      
			<xs:sequence>
				<xs:element ref="AtgDataItem" maxOccurs="unbounded" minOccurs="1"/>
			</xs:sequence>    
		</xs:complexType>
	</xs:element>
	<xs:element name="deleteFromSlot">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="slotItem" maxOccurs="unbounded" minOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="slotType" use="optional">
				<xs:simpleType>
					<xs:restriction base="Slot_restriction">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="deleteFromServer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="serverItem" maxOccurs="unbounded" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="item">
		<xs:complexType>  
			<xs:sequence>
				<xs:element ref="source"/>
				<xs:element ref="destination"/>
			</xs:sequence>
      		<xs:attribute name="extractAtTarget" use="optional" default="false">
        		<xs:simpleType>
          			<xs:restriction base="xs:boolean">
          			</xs:restriction>
        		</xs:simpleType>        
      		</xs:attribute>
			<xs:attribute name="slotType" use="optional">
				<xs:simpleType>
					<xs:restriction base="Slot_restriction">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="destination">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_destination">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="file"/>
								<xs:enumeration value="folder"/>
                				<xs:enumeration value="tempArchive"/>
              				</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
          			<xs:attribute name="receiver" use="required">
            			<xs:simpleType>
              				<xs:restriction base="xs:string">
                				<xs:enumeration value="slot"/>
                				<xs:enumeration value="server"/>
              				</xs:restriction>
            			</xs:simpleType>
          			</xs:attribute>
        		</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="buildinput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="item" maxOccurs="unbounded" minOccurs="0"/>
				<xs:element ref="deleteFromSlot" maxOccurs="unbounded" minOccurs="0"/>
				<xs:element ref="deleteFromServer" maxOccurs="unbounded" minOccurs="0"/>				
				<xs:element ref="deleteFromAtgData" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="applications">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="application" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="application">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="startStop" maxOccurs="1" minOccurs="0"/>
				<xs:element ref="buildinput"/>
			</xs:sequence>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="BACK"/>
						<xs:enumeration value="FRONT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="ST_slotItem">
		<xs:restriction base="xs:string"></xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_AtgDataItem">
		<xs:restriction base="xs:string"></xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_number">
		<xs:restriction base="xs:int"></xs:restriction>
	</xs:simpleType>
</xs:schema>
