platforms/atg/config/substitution/atg-config-substitution.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--W3C Schema generated by XMLSpy v2010 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:simpleType name="base_string">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="env">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="base_string">
					<xs:attribute name="name" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="ALL"/>
								<xs:enumeration value="LOCAL"/>
								<xs:enumeration value="AVE"/>
								<xs:enumeration value="CI"/>
								<xs:enumeration value="TEST"/>
								<xs:enumeration value="ACCEPTANCE"/>
								<xs:enumeration value="PRODUCTION"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="slot">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="base_string">
					<xs:attribute name="name" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="ALL"/>
								<xs:pattern value="slot[1-6]"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="slottype">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="base_string">
					<xs:attribute name="name" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="LMPrimary"/>
								<xs:enumeration value="LMSecondary"/>
								<xs:enumeration value="CtrlPrimary"/>
								<xs:enumeration value="CtrlSecondary"/>
								<xs:enumeration value="PS"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="key">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="env" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="envsubstitutions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="substitution" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="property" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="env" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="filepath" type="xs:string" use="required"/>
						<xs:attribute name="type" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="modify"/>
									<xs:enumeration value="delete"/>
								</xs:restriction>
						 	</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="env" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="application" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ALL"/>
						<xs:enumeration value="LiveStoreFront"/>
						<xs:enumeration value="StagingStoreFront"/>
						<xs:enumeration value="ContentAdmin"/>
						<xs:enumeration value="AdminPages"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="slotsubstitutions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="substitution" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="property" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="slot" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="filepath" type="xs:string" use="required"/>
						<xs:attribute name="type" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="modify"/>
									<xs:enumeration value="delete"/>
								</xs:restriction>
						 	</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="slottypesubstitutions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="substitution" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="property" minOccurs = "0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="slottype" maxOccurs="unbounded"/>
									</xs:sequence>
								<xs:attribute name="name" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="filepath" type="xs:string" use="required"/>
						<xs:attribute name="type" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="modify"/>
									<xs:enumeration value="delete"/>
								</xs:restriction>
						 	</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="slottype" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="keysubstitutions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="envsubstitutions" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="key" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:attribute name="application" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="ALL"/>
									<xs:enumeration value="LiveStoreFront"/>
									<xs:enumeration value="StagingStoreFront"/>
									<xs:enumeration value="ContentAdmin"/>
									<xs:enumeration value="AdminPages"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	

	<xs:element name="substitutions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="envsubstitutions" maxOccurs="unbounded"/>
				<xs:element ref="slotsubstitutions"/>
				<xs:element ref="slottypesubstitutions"/>
				<xs:element ref="keysubstitutions"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
